[submodule "ts_tma_tma-documentation_maintenance-documents_deployment"]
	path = docs/ts_tma_tma-documentation_maintenance-documents_deployment
	url = ../ts_tma_tma-documentation_maintenance-documents_deployment.git
	branch = master
[submodule "docs/ts_tma_tma-documentation_0-project-acronyms"]
	path = docs/ts_tma_tma-documentation_0-project-acronyms
	url = ../ts_tma_tma-documentation_0-project-acronyms.git
	branch = master
[submodule "docs/ts_tma_tma-documentation_eui-manual-english"]
	path = docs/ts_tma_tma-documentation_eui-manual-english
	url = ../ts_tma_tma-documentation_eui-manual-english.git
	branch = master
[submodule "docs/ts_tma_tma-documentation_tma-faults"]
	path = docs/ts_tma_tma-documentation_tma-faults
	url = ../ts_tma_tma-documentation_tma-faults.git
	branch = master
[submodule "docs/ts_tma_tma-documentation_training_2023-october"]
	path = docs/ts_tma_tma-documentation_training_2023-october
	url = ../ts_tma_tma-documentation_training_2023-october.git
	branch = master
[submodule "docs/ts_tma_tma-documentation_maintenance-documents_eib_position-measurement-and-references"]
	path = docs/ts_tma_tma-documentation_maintenance-documents_eib_position-measurement-and-references
	url = ../ts_tma_tma-documentation_maintenance-documents_eib_position-measurement-and-references.git
	branch = master
[submodule "docs/ts_tma_tma-documentation_maintenance-documents_eib_check-encoder-tape"]
	path = docs/ts_tma_tma-documentation_maintenance-documents_eib_check-encoder-tape
	url = ../ts_tma_tma-documentation_maintenance-documents_eib_check-encoder-tape.git
	branch = master
[submodule "docs/ts_tma_tma-documentation_maintenance-documents_eib_eib-change-ip"]
	path = docs/ts_tma_tma-documentation_maintenance-documents_eib_eib-change-ip
	url = ../ts_tma_tma-documentation_maintenance-documents_eib_eib-change-ip.git
	branch = master
[submodule "docs/ts_tma_tma-documentation_maintenance-documents_ethercat_manage-ethercat-line-status"]
	path = docs/ts_tma_tma-documentation_maintenance-documents_ethercat_manage-ethercat-line-status
	url = ../ts_tma_tma-documentation_maintenance-documents_ethercat_manage-ethercat-line-status.git
	branch = master
[submodule "docs/ts_tma_tma-documentation_maintenance-documents_ethercat_ethercat-line-diagnostic"]
	path = docs/ts_tma_tma-documentation_maintenance-documents_ethercat_ethercat-line-diagnostic
	url = ../ts_tma_tma-documentation_maintenance-documents_ethercat_ethercat-line-diagnostic.git
	branch = master
[submodule "docs/ts_tma_tma-documentation_maintenance-documents_ethercat_update-ethercat-slave"]
	path = docs/ts_tma_tma-documentation_maintenance-documents_ethercat_update-ethercat-slave
	url = ../ts_tma_tma-documentation_maintenance-documents_ethercat_update-ethercat-slave.git
	branch = master
[submodule "docs/ts_tma_tma-documentation_maintenance-documents_main-power-supply_motor-dc-voltagedropcauses"]
	path = docs/ts_tma_tma-documentation_maintenance-documents_main-power-supply_motor-dc-voltagedropcauses
	url = ../ts_tma_tma-documentation_maintenance-documents_main-power-supply_motor-dc-voltagedropcauses.git
	branch = master
[submodule "docs/ts_tma_tma-documentation_maintenance-documents_main-power-supply_power-supply-charge-times"]
	path = docs/ts_tma_tma-documentation_maintenance-documents_main-power-supply_power-supply-charge-times
	url = ../ts_tma_tma-documentation_maintenance-documents_main-power-supply_power-supply-charge-times.git
	branch = master
[submodule "docs/ts_tma_tma-documentation_maintenance-documents_bosch-controller_bosch-controller-startup-configurati"]
	path = docs/ts_tma_tma-documentation_maintenance-documents_bosch-controller_bosch-controller-startup-configurati
	url = ../ts_tma_tma-documentation_maintenance-documents_bosch-controller_bosch-controller-startup-configurati.git
	branch = master
[submodule "docs/ts_tma_tma-documentation_maintenance-documents_bosch-controller_bosch-rexroth-recovery"]
	path = docs/ts_tma_tma-documentation_maintenance-documents_bosch-controller_bosch-rexroth-recovery
	url = ../ts_tma_tma-documentation_maintenance-documents_bosch-controller_bosch-rexroth-recovery.git
	branch = master
[submodule "docs/ts_tma_tma-documentation_maintenance-documents_bosch-controller_replace-bosch-motor"]
	path = docs/ts_tma_tma-documentation_maintenance-documents_bosch-controller_replace-bosch-motor
	url = ../ts_tma_tma-documentation_maintenance-documents_bosch-controller_replace-bosch-motor.git
	branch = master
[submodule "docs/ts_tma_tma-documentation_maintenance-documents_mirror-cover_move-mirror-coverwithoutchecks"]
	path = docs/ts_tma_tma-documentation_maintenance-documents_mirror-cover_move-mirror-coverwithoutchecks
	url = ../ts_tma_tma-documentation_maintenance-documents_mirror-cover_move-mirror-coverwithoutchecks.git
	branch = master
