name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # full history for metadata
          submodules: true
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install plantuml
        run: |
          sudo apt-get install plantuml -y
      - name: Python install
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
      - name: Replace plantuml to {uml} to be rendered
        run: |
          find . -type f -name "*.md" -exec sed -i -E 's/^```plantuml/```{uml}/g' {} +
      - name: Sphinx build
        run: |
          make html
      - uses: actions/upload-artifact@v4
        with:
          name: html
          path: _build/html
          retention-days: 1


  deploy:
    needs: [build]
    runs-on: ubuntu-latest
    container: python:3.11.10
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: html
          path: html_build
      - name: Upload documentation
        uses: lsst-sqre/ltd-upload@v1
        with:
          project: "ts-tma"
          dir: "html_build"
          username: ${{ secrets.ltd_username }}
          password: ${{ secrets.ltd_password }}
